body {
  width: 50%;
}

h1 {
  background-color: black;
  color: white;
}

ul li {
  list-style-type: square;
}

hr {
  border-color: black;
  margin: 20px 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: underline;
  color: inherit;
}

.resource {
  background-color: green;
  color: white;
}

.resource:hover {
  background-color: #03ad03;
  color: white;
}

.resource:active,
.resource:visited {
  color: white;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
}
